* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', serif;
}

body {
  padding-bottom: 50px;
}

.query-link:link,
.query-link:visited,
.query-link:active {
  color: #1571fb;
  text-decoration: none;
  transition: all 0.2s;
}

.query-link:hover {
  filter: brightness(60%);
}

/* HEADER */

header {
  position: relative;
  height: 120px;
  max-width: 1132px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 1px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #2d3436;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 60px;
  transform: translateY(-50%);
}

.main-nav {
  margin-bottom: 40px;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  transition: all 0.2s;
  opacity: 0.6;
}

.breadcrumbs li:hover {
  opacity: 1;
}

.breadcrumbs a {
  line-height: 24px;
  text-decoration: none;
  color: #2D3436;
  font-size: 16px;
  font-weight: 600;
}

.breadcrumbs .chevron_right {
  position: absolute;
  color: #9a6dbb;
  top: 1px;
  right: -27px;
}

.logo-box {
  display: flex;
  padding: 5px;
  align-items: center;
  text-decoration: none;
  color: #2d3436;
  outline: none;
}

.logo-box:visited,
.logo-box:hover,
.logo-box:active {
  color: #2d3436;
  text-decoration: none;
}

.logo-box_img {
  width: 32px;
  height: 32px;
}

.logo-box_text {
  margin-left: 12px;
  margin-right: 30px;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: normal;
}

.nav form {
  display: flex;
  align-items: center;
}

.search-bar {
  position: relative;
  width: 710px;
}

.search-bar input {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ffffff;
  padding-left: 74px;
  font-size: 16px;
  font-family: Roboto, serif;
  border: none;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.27);
  border-radius: 4px;
}

.search-btn_icon {
  position: absolute;
  top: 50%;
  left: 30px;
  filter: invert(100%);
  transform: translate(0, -50%);
}

.submit-btn {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.submit-btn_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn input {
  display: inline-block;
  width: 85px;
  height: 60px;
  border: none;
  color: transparent;
  background-color: #9a6dbb;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}

.submit-btn input:hover {
  filter: brightness(90%);
}

/* BODY */

.main-header {
  display: block;
  text-align: center;
  margin: 50px auto;
  color: #2d3436;
}

.main-content {
  max-width: 1132px;
  margin: 0 auto;
}

.explorer {
  border-collapse: collapse;
  font-family: 'Segoe UI', serif;
  font-size: 15px;
  width: 100%;
}

.explorer thead {
  border-bottom: 3px solid #9a6dbb;
  font-weight: bold;
}

.row {
  height: 36px;
  border-bottom: 2px solid #9a6dbb;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
}

.row:hover {
  background-color: #f9f9f9;
}

.row:hover td:first-child {
  color: #1571fb;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: baseline;
  opacity: 0.5;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 1;
}

/* VACANCY */

.title {
  max-width: 150px;
}

.company {
  max-width: 120px;
}

.location {
  max-width: 120px;
}


/* POPUP */

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
  color: #000000;
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.popup__close:hover {
  color: #1571fb;
}

.popup__form {
  display: inline-block;
  margin-top: 25px;
}

.input-group {
  display: flex;
  width: 390px;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 30px;
}

.input-group label {
  display: inline-block;
}

.input-group input,
.input-group select {
  display: block;
  width: 300px;
  padding-left: 15px;
  height: 30px;
  border: 1px solid #2d3436;
  border-radius: 4px;
}

.input-group button {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #9a6dbb;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
}

.input-group button:hover {
  filter: brightness(90%);
}

.btn__proceed {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #9a6dbb;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;
}

.btn__save {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #9a6dbb;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;
}

/* DESCRIPTION POPUP */

.description {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.description__content {
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  max-height: 100%;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: block;
  overflow-y: scroll;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}

.description:target {
  opacity: 1;
  visibility: visible;
}

.description:target .description__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.description__close:link,
.description__close:visited {
  color: #000000;
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.description__close:hover {
  color: #1571fb;
}

/* ALERT POPUP */

.myAlert {
  display: none;
  position: fixed;
  background-color: #000;
  width: 800px;
  height: 375px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.myAlert .close {
  display: block;
  position: absolute;
  right: 25px;
  top: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  z-index: 100;
}